/* От прыжков ширины сайта */
html {
  overflow-y: scroll;
}
/* Админка */
.adm_main{
position: absolute;
top: 15%;
left: 40%;
}
.del_row{
 padding-left: 20px;
}
.row_background{
background-color: #eee;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
width: 490px;
padding-bottom: 15px;
}

.adm_add{
position: absolute;
top: 30%;
left: 40%;
background-color: #eee;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
width: 250px;
padding: 16px;
}
/*шапка*/
.header_block{
background-color: #eee;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
padding: 0 10px 10px 10px;
width: 870px;
height: 52px;
float: left;
margin-left: 0px;
}
.greetings{

}
.top_button{
margin-top: 18px;
}
.title{
font-family: 'Lobster', cursive;
float: right;
  margin-right: 5px;
}
/* Новость */
.news_body{
background-color: #eee;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
padding: 0 10px 10px 10px;
width: 700px;
margin-top: 20px;
}

/* Подписи иконок */
.info_font{
font-size: 9pt;
margin-left: 5px;
}
.icons{
margin-top: -1px;
}
.news_button{
margin-left: 35px;
}
.news_hr{
width: 690px;
}



/* Правая колонка */
.right_blocks{
margin-top: 20px;
margin-right: 45px;
background-color: #eee;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
padding: 0 10px 10px 10px;
float: right;
}
.right_menu{
width: 100px;
float: right;

}
/* Облако тегов */
.cloud_tags .link_1 {font-size: 20px;}
.cloud_tags .link_2 {font-size: 18px;}
.cloud_tags .link_3 {font-size: 16px;}
.cloud_tags .link_4 {font-size: 14px;}
.cloud_tags .link_5 {font-size: 12px;}
.cloud_tags .link_6 {font-size: 10px;}
.cloud_tags .link_7 {font-size: 8px;}